:root{
    --space-xs: 1rem;
    --space-s: 1.5rem;
    --space-m: 3rem;
    --space-l: 4rem;
    --space-xl: 5rem;
    --space-xxl: 6rem;

    @media (max-width: 767px) {
        --space-xs: 0.5rem;
        --space-s: 1rem;
        --space-m: 1.5rem;
        --space-l: 2rem;
        --space-xl: 2.5rem;
        --space-xxl: 3rem;
    }
}

.space-xs-top {
    margin-top: var(--space-xs);
}

.space-s-top {
    margin-top: var(--space-s);
}

.space-m-top {
    margin-top: var(--space-m);
}

.space-l-top {
    margin-top: var(--space-l);
}

.space-xl-top {
    margin-top: var(--space-xl);
}

.space-xxl-top {
    margin-top: var(--space-xxl);
}

.space-xs-bottom {
    margin-bottom: var(--space-xs);
}

.space-s-bottom {
    margin-bottom: var(--space-s);
}

.space-m-bottom {
    margin-bottom: var(--space-m);
}

.space-l-bottom {
    margin-bottom: var(--space-l);
}

.space-xl-bottom {
    margin-bottom: var(--space-xl);
}

.space-xxl-bottom {
    margin-bottom: var(--space-xxl);
}

.max-width-s {
    max-width: 600px;
}

.max-width-m {
    max-width: 960px;
}