---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets';
import logo from '../images/logo.png';
import '../styles/global.css';
import Speakers from "../components/Speakers.astro";
import About from "../components/About.astro";
import Sponsors from "../components/Sponsors.astro";
import Section from "../layouts/Section.astro";
import Schedule from "../components/Schedule.astro";
import heart from "../images/heart-3d-emoji.png";
import Emoji from "../components/Emoji.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="TofuConf - Madrid 2024">
    <header>
        <Navigation/>
        <Section background="var(--base-800)" textColor="var(--base-000)" contentPadding="var(--space-xxl)">
            <h1 class="h100-regular space-m-bottom">
                <Image src={logo} class="logo" alt="TofuConf logo"/>
                TofuConf 2024
            </h1>
            <h2 class="h100-regular space-s-bottom text-base-200">El evento <span class="text-brand-primary-100">#gastrotech</span>
                donde <span class="text-brand-secondary-300">nadie</span> muere de hambre<Emoji src={heart}/></h2>
            <h3 class="h300-regular">11 de mayo - Madrid</h3>
        </Section>

    </header>
    <main>
        <About/>
        <Speakers/>
        <Sponsors/>
        <Schedule/>
    </main>
</Layout>

<style>
    header .logo {
        width: 8rem;
        height: auto;
        margin-right: 1rem;
    }

    h1 {
        display: flex;
        align-items: center;
    }


</style>