---
import Section from "../layouts/Section.astro";
import Speaker from "./Speaker.astro";
import speaker from "../images/speaker.png";
import heart from "../images/heart-3d-emoji.png";
import { Image } from "astro:assets";
---

<Section background="var(--base-100)" id="home">
    <h2 class="h200-regular max-width-m">¿De qué va esto?</h2>
</Section>