---
interface Props {
    text: string;
    link: string;
}

const { text, link } = Astro.props;
---

<a class="button b200-regular" href={link}>{text}</a>

<style>
    .button {
        background-color: var(--brand-tertiary-200);
        border-radius: var(--radius-medium);
        color: var(--base-1000);
        display: inline-block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
    }

    .button:hover {
        background-color: var(--brand-tertiary-400);
    }
</style>