---
interface Props {
    text: string;
    link: string;
    newTab?: boolean;
    color?: string;
    background?: string;
}

const {text, link, newTab = false, color = "var(--base-1000)", background = "var(--brand-tertiary-200)"} = Astro.props;
---

<a class="button b200-regular" href={link} target={newTab ? '_blank' : '_self'} >{text}</a>

<style define:vars={{color, background}}>
    .button {
        background-color: var(--background);
        border-radius: var(--radius-medium);
        color: var(--color);
        display: inline-block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: filter 0.3s;
    }

    .button:hover {
        filter: brightness(85%);
    }
</style>