---
interface Props {
    text: string;
    link: string;
    newTab?: boolean;
    color?: string;
    background?: string;
    large?: boolean;
}

const {
    text,
    link,
    newTab = false,
    color = "var(--base-1000)",
    background = "var(--brand-tertiary-200)",
    large = false
} = Astro.props;
---

<a
        class={`button ${large ? 'h300-regular' : 'b200-regular'}`}
        style={{padding: large ? '1rem 2rem' : '0.5rem 1rem'}}
        href={link}
        target={newTab ? '_blank' : '_self'}>
    {text}
</a>

<style define:vars={{color, background}}>
    .button {
        background-color: var(--background);
        border-radius: var(--radius-medium);
        color: var(--color);
        display: inline-block;
        text-decoration: none;
        transition: filter 0.3s;
        text-align: center;
    }

    .button:hover {
        filter: brightness(85%);
    }
</style>