---
interface Props {
    text: string;
    link: string;
    newTab?: boolean;
    color?: string;
    background?: string;
    large?: boolean;
}

const {
    text,
    link,
    newTab = false,
    color = "var(--base-1000)",
    background = "var(--brand-tertiary-200)",
    large = false
} = Astro.props;
---

<a
        class={`button ${large ? 'h300-regular' : 'b200-regular'}`}
        style={{padding: large ? '1rem 2rem' : ''}}
        href={link}
        target={newTab ? '_blank' : '_self'}>
    {text}
</a>

<style define:vars={{color, background}}>
    .button {
        background-color: var(--background);
        color: var(--color);
    }
</style>