---
interface Props {
    number: number;
    text: string;
    ringColor: string;
}

const {number, text, ringColor} = Astro.props;
---

<div class="metric">
    <div class="ring">
        <div class="h100-regular">{number}</div>
    </div>
    <p class="h300-regular text space-s-top">{text}</p>
</div>

<style define:vars={{ringColor}}>
    .metric {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .metric > .ring {
        background-color: var(--ringColor);
        text-align: center;
        width: 8em;
        height: 8em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius-full);
    }
</style>
