---
import Section from "../layouts/Section.astro";
import schedule from "../scripts/schedule.js";
---

<Section id="schedule">
    <h2 class="h200-regular max-width-m space-m-bottom">La agenda más Plant-Based</h2>
    <table class="agenda max-width-m">
        <thead>
        <tr class="b100-regular">
            <th>Hora</th>
            <th>Charla</th>
        </tr>
        </thead>
        <tbody class="b200-regular">
        {schedule.map((item) => (
                <tr class={item.isSpecial ? 'special' : ''}>
                    <td>{item.time}</td>
                    <td>{item.title}</td>
                </tr>
        ))}
        </tbody>
    </table>
</Section>

<style>
    .agenda {
        margin: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-collapse: collapse;
        width: 100%;
        border-radius: var(--radius-small);
        overflow: hidden;
    }

    .agenda thead {
        background-color: var(--base-800);
        color: var(--base-000);
    }

    .agenda th,
    .agenda td {
        padding: var(--space-xs) var(--space-s);
        text-align: left;
        border-bottom: 1px solid var(--base-200);
    }

    .agenda .special {
        background-color: var(--base-100);
    }

    .agenda tr:last-child td {
        border-bottom: none;
    }
</style>