---
import Section from "../layouts/Section.astro";
import Speaker from "./Speaker.astro";
import logo from "../images/logo.png";
---

<Section id="speakers">
    <h2 class="h200-regular max-width-m"> Con ponentes que te van a dejar <span class="text-brand-secondary-300">muy buen sabor de boca</span></h2>

    <div class="speakers space-l-top">
        <Speaker name="TBD" position="Cerrando ponentes" image={logo} />
        <Speaker name="TBD" position="Cerrando ponentes" image={logo} />
        <Speaker name="TBD" position="Cerrando ponentes" image={logo} />
    </div>
</Section>

<style>
    .speakers {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-m);
        justify-content: center;
    }
</style>