---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
    name: string;
    position: string;
    image: ImageMetadata;
    href: string;
}

const { name, position, image, href } = Astro.props;
---

<a href={href} class="speaker">
    <div>
        <Image src={image} class="logo space-s-bottom" alt="TofuConf logo" />
        <h3 class="h300-regular">{name}</h3>
        <p class="text-base-600">{position}</p>
    </div>
</a>

<style>
    .speaker {
        flex: 1 1 calc(33.333% - var(--space-m));
        max-width: 500px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .speaker:hover {
        transform: translateY(-10px);
    }

    .speaker:hover h3 {
        text-decoration: underline;
    }

    .logo {
        background: var(--base-600);
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        transition: transform 0.3s;
    }

    .speaker:hover .logo {
        transform: scale(1.1);
    }
</style>