---
interface Props {
    header: string;
    background: string;
}

const {header, background = "var(--base-000)"} = Astro.props;
---

<div class="card">
    <h3 class="b100-regular space-xs-bottom">{header}</h3>
    <slot/>
</div>

<style define:vars={{background}}>
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: var(--background);
        width: 300px;
        height: 300px;
        padding: var(--space-s);
        border-radius: var(--radius-medium);
    }
</style>
